html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Tab Title: Path Finder */
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 0px 0px;
}

/* Page Title: Path Finder */
h1 {
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  height: 40px;
  padding: 20px 0px;
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

/* Map customisations */
#map-container{
  height: -webkit-calc(100% - 80px);
  height:    -moz-calc(100% - 80px);
  height:         calc(100% - 80px);
  margin: 0;
  padding: 0;
}

#map{
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  position: absolute;
  padding-bottom: 12px;
  margin-right: 12px;
  bottom: 40px;
}

.pac-container
{
	position:fixed;
	display:block;
  margin-top: -210px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  margin-bottom: 40px;
  width: 200px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  border: 2px solid #fff;
  border-radius: 15px 0px 0px 15px;
}

#pac-input:focus {
  border-color: #ffe3be;
  outline-width: 0;
}


#target {
  width: 345px;
}

/* Google Sign-in button */
.g-signin2 {
  border-radius: 6px;
  position: absolute;
  top: 15px;
  right: 10px;

}

/* Google Sign-out button */
#sign-out{
  background-color: #F5F5F5; color: black;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 1px;
  border-radius: 8%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  width: 6em;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
