html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Tab Title: Path Finder */
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 100;
  padding: 0px 0px;
}

/* Page Title: Path Finder */
h1 {
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  height: 40px;
  padding: 20px 0px;
  margin: 0;
  letter-spacing: 1.5px;
}

h1, a{
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

/* Start of Map customisations */
#map-container{
  height: -webkit-calc(100% - 80px);
  height:    -moz-calc(100% - 80px);
  height:         calc(100% - 80px);
  margin: 0;
  padding: 0;
}

#map{
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  position: absolute;
  padding-bottom: 12px;
  margin-right: 12px;
  bottom: 40px;
}

.pac-container
{
	position:fixed;
	display:block;
  margin-top: -210px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  margin-bottom: 40px;
  width: 200px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  border: 2px solid #fff;
  border-radius: 15px 0px 0px 15px;
}

#pac-input:focus {
  border-color: #ffe3be;
  outline-width: 0;
}


#target {
  width: 345px;
}
/* End of Map customisations */

/* Google Sign-out button */
#sign-out{
  background-color: #FFFFFF; color: black;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  width: 7em;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;

}

/* New path button */
#new-path{
  background-color: #F5F5F5	; color: black;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 30px;
  border-radius: 3%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  width: 8em;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 345px;
}

/* Save path button */
#save-path{
  background-color: #F5F5F5	; color: black;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 30px;
  border-radius: 3%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  width: 8em;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 200px;
}

/* View existing paths button */
#view-path{
  background-color: #F5F5F5; color: black;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 30px;
  border-radius: 3%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  width: 11em;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Pop-up requiring sign-in first */
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target{
  visibility: visible;
  opacity: 1;
  z-index: 9;
}

.popup1, .popup2{
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup1 h2, .popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close, .popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close:hover, .popup2 .close:hover {
  color: #06D85F;
}
.popup1 .content {
  max-height: 30%;
  overflow: auto;
  font-family: Tahoma, Arial, sans-serif;

}

/* Google Sign-in button */
.popup1 .g-signin2 {
  max-height: 30%;
  overflow: auto;
  position: relative;
  top: 1em;
  left: 5em;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* List of routes buttons  */
.popup2 * {
  box-sizing: border-box;
}

/* Style the list (remove margins and bullets, etc) */
.popup2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the list items */
.popup2 ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: Tahoma, Arial, sans-serif;
  color: black;
  display: block;
  position: relative;
}

.popup2 more-details {
  color: #C0C0C0;
  position: relative;
  font-size: 15px;
  display: block;
  margin-top: 10px;

}

/* Add a light grey background color on hover */
.popup2 ul li:hover {
  background-color: #eee;

}

.popup2 button {
  color: #B22222;
  font-size: 14px;
  position: absolute;
  font-family: 'Roboto', Arial, sans-serif;
  right: 10px;
  top: 15px;
}

/* .growl-notification{
  background:#fff;
  border-radius: 30px;
  border-radius: 2%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
  width:200px;
  font-size: 180px;
  font-family: Tahoma, Arial, sans-serif;
} */

#directions-panel {
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 1;
  margin-top: 10px;
  background-color: #FFEE77;
  padding: 10px;
  overflow: scroll;
  height: 400px;
  width: 300px;
}

.handle {
  cursor: grab;
  font-family: "Font Awesome 5 Free";
  height: 100%;
}
